# Ignore all files
*

# But do not ignore these files
!.gitignore
!main.tf
!python/lambda_function.py
!README.md
!requirements.txt
!/Users/alanjackson/Environments/projects-terraform/AVcryptoLamdaDynamo/python/lambda_function.py